<h1>New aankoop</h1>

<% form_for([:klant, @aankoop]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :product %><br />
    <%= f.collection_select :product_id, Product.find(:all).sort_by {|item| item.titel}, :id, :titel %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', klant_aankoops_path %>
