<div style="background-color:#ccc; width:559px; padding:10px">
<h1>Albums van <%=h @artiest_naam %></h1>

<% for album in @albums %>
<table width="559px" bgcolor="#ffffff">
 <tr>
    <td width="100px" rowspan="6"><%= link_to image_tag((album.coverart or 'default-album.jpg'), :width => '100px', :height => '100px', :vspace => '3px', :hspace => '3px', :border => '0px'), :controller => 'Albums', :action => 'show', :id => album %></td>
    <td width="50px">Artiest:</td>
    <td><%=h album.artiest %>&nbsp;</td>
  </tr>
  <tr>
    <td>Album:</td>
    <td><%=h album.titel %>&nbsp;</td>
  </tr>
    <tr>
    <td>Lengte:</td>
    <td><%=h album.lengte %>&nbsp;</td>
  </tr>
    <tr>
    <td>Jaar:</td>
    <td><%=h album.jaar %>&nbsp;</td>
  </tr>
  <tr>
    <td>Genre:</td>
    <td><%=h album.genre %>&nbsp;</td>
  </tr>
  <tr>
  	<td>Tracks:</td>
    <td><%=album.nummers.count(:tracknr)%></td>
  </tr>
    <tr>
    <td><div class="playknop" style="margin-left:4px; margin-bottom:2px"></div>
        <% form_tag('/winkelwagen', :method => "POST") do %>
          <input type="hidden" name="id" value="<%= album.id %>"/>
          <button type="submit" style="border: 0px; padding: 0px; margin: 0px;"><div class="numkoopknop"></div></button>
        <% end %>
    </td>
    <td>Prijs:</td>
    <td>&euro;<%=h album.prijs %></td>
  </tr>
</table>
<br />
<% end %>

<%= link_to 'Terug', '/artiests' %>
</div>
