<h1>Editing chart</h1>

<% form_for(@chart) do |f| %>
  <%= f.error_messages %>

<br />
<br />
<br />
<br />
  <p>
    <%= f.label :genre %><br />
    <%= select(:chart, :genre, ["Blues", "Country", "Dance", "Diversen", "Folk", "Jazz", "Kind & Jeugd", "Klassiek", "Nederlands", "New Age", "Pop", "Rap & Hiphop", "R&B & Soul", "Reggae", "Religieus", "Rock & Alternative", "Soundtracks & Musicals", "Verzamel-cd's & Boxsets", "Wereldmuziek"]) %>
  </p>
  <p>
    <%= f.label :nummer %><br />
    <%= f.text_field :nummer %>
  </p>
    <p>
    <%= f.label :product %><br />
    <%= f.collection_select :product_id, Nummer.all( :order => 'titel ASC'), :id, :titel %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @chart %> |
<%= link_to 'Back', charts_path %>
