<h1>Listing charts</h1>


<% for genre, nummers in @charts %>
  <%= genre %>
  <table>
    <tr>
      <th>Nummer</th>
      <th>Titel</th>
    </tr>
  <% for nummer in nummers %>
    <tr>
      <td><%=h nummer.nummer %></td>
      <td><%=h nummer.product.titel %></td>
      <td><%= link_to 'Edit', edit_chart_path(nummer) %>
          <%= link_to 'Destroy', nummer, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<br />
<%= link_to 'New chart', new_chart_path %>