  <% if @listnav %>
  <div style="background-color:#ccc; width:559px; padding:0px 10px 10px 10px">
  <script type="text/javascript" src="jquery.listnav.min-2.1.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $(function(){
    $('#categoryList').listnav({ 
        initLetter: 'a', 
        includeAll: true, 
        includeOther: true, 
        flagDisabled: true, 
        noMatchText: 'Er staan nog geen artiesten met deze letter in de database', 
        showCounts: true, 
        cookieName: 'my-main-list', 
        onClick: function(letter){}, 
        prefixes: ['the','a'] 
      });
    });
  </script>
  <div id="categoryList-navbalk">
    <div id="categoryList-nav"></div>
  </div>
  <br />

  <% else %>
  <div style="padding:5px; height:14px; color:#FFFFFF; background-color:#000000; width:569px;">
  <%= @pagetitle %>
  </div>
  <div style="background-color:#ccc; width:559px; padding:10px">
  <% end %>

  <ul id="categoryList" style="list-style-type: none; padding: 0px;">
    <% for album in @albums %>
      <li style="margin: 0px; padding: 0px">
        <span style="display: none"><%= h album.artiest %><%=h album.titel %></span>
        <%= render :partial => 'albums/album', :locals => {:album => album} %>
      </li>
    <% end %>
  </ul>

  <% if user_is_medewerker? %>
    <%= link_to 'New album', new_album_path %>
  <% end %>
</div>