<div style="padding:5px; height:14px; color:#FFFFFF; background-color:#000000; width:569px;">
            Winkelwagen
        </div>
<div style="background-color:#ccc; width:559px; padding:10px">
<div style="background-color:#ffffff">
<table width="559px" border="0" align="center" cellpadding="2">

  <tr>
    <td width="50px"><strong>Type</strong></td>
    <td width="140px"><strong>Titel</strong></td>
    <td width="180px"><strong>Artiest</strong></td>
    <td><strong>Prijs</strong></td>
  </tr>

<% for product in @products %>
  <tr>
    <td><%=h product.type %></td>
    <td><%=h product.titel %></td>
    <td><%=h product.artiest %></td>
    <td>&euro;<%=h product.prijs %></td>
    <td><%= link_to 'Remove', winkelwagen_path(product.id), :method => :delete %></td>
  </tr>
<% end %>
</table></div>

<br>
<b>Totale prijs:</b> &euro;<%= @products.inject(0) { |sum, product| sum + product.prijs.to_f } %>

<br/><br/>
<table>
<% form_tag('/winkelwagen/checkout', :method => :post) do %>
  <% if user_logged_in? %>
    U bent ingelogd. Koop deze producten via uw account:
    <tr>
      <td><label for="creditcard"/>Creditcard:</label></td>
      <td><input type="text" readonly="readonly" name="creditcard" id="creditcard" value="<%= current_user.creditcard %>"/></td>
    </tr>
    <tr>
      <td><label for="email"/>E-mail:</label></td>
      <td><input type="text" readonly="readonly" name="email" id="email" value="<%= current_user.email %>" /></td>
    </tr>
  <% else %>
    U bent niet ingelogd. Vul hier uw creditcard nummer en e-mail in:
    <label for="creditcard"/>Creditcard:</label> <input type="text" id="creditcard" />
    <label for="email"/>E-mail:</label> <input type="text" id="creditcard" />
  <% end %>
  <tr>
    <td></td>
    <td><input type="submit" name="Koop" value="Koop" style="float: right" /></td>
<% end %>
</table>
</div>