<div class="leftmenu">
  <ul class="nav">
    <li class="nav1 drop"><a class="main" href="/home"><b>Home</b></a></li>        
    <li class="nav3 drop"><a class="main" href="/artiests"><b>Artiesten</b></a></li>
    <li class="nav3 drop"><a class="main down" href="/albums"><b>Albums</b></a>
      <ul><li><a href="/albums/nieuwe"><b>Nieuwe albums</b></a></li>
          <li><a href="/albums/uitgelicht"><b>Uitgelicht</b></a></li>
          <li><a href="/albums/bestverkocht"><b>Best verkocht</b></a></li>
          <li><a href="/albums/bestrating"><b>Hoogst gewaardeerd</b></a></li>
      </ul>
    </li>
    <li class="nav3 drop"><a class="main down" href="/nummers"><b>Genres</b></a>
      <ul><li class="fly"><a class="main" href=" "><b>Overige</b></a>
            <ul><li><a href="/genre/blues"><b>Blues</b></a></li>
                <li><a href="/genre/country"><b>Country</b></a></li>               
                <li><a href="/genre/diversen"><b>Diversen </b></a></li>
                <li><a href="/genre/folk"><b>Folk </b></a></li>                 
                <li><a href="/genre/kind &amp; jeugd"><b>Kind &amp; Jeugd </b></a></li>                           
                <li><a href="/genre/new age"><b>New Age </b></a></li>               
                <li><a href="/genre/rap &amp; Hiphop"><b>Rap &amp; Hiphop </b></a></li>
                <li><a href="/genre/r&amp;b &amp; soul"><b>R&amp;B &amp; Soul </b></a></li>
                <li><a href="/genre/reggae"><b>Reggae </b></a></li>
                <li><a href="/genre/religieus"><b>Religieus </b></a></li>       
                <li><a href="/genre/soundtracks &amp; musicals"><b>Soundtracks &amp; Musicals </b></a></li>
                <li><a href="/genre/verzamel-cd's &amp; boxsets"><b>Verzamel-cd's &amp; Boxsets </b></a></li>
                <li><a href="/genre/wereldmuziek"><b>Wereldmuziek</b></a></li>
            </ul>
          </li>
          <li><a href="/genre/pop"><b>Pop </b></a></li>
          <li><a href="/genre/klassiek"><b>Klassiek </b></a></li>
          <li><a href="/genre/nederlands"><b>Nederlands </b></a></li>
          <li><a href="/genre/rock &amp; alternative"><b>Rock &amp; Alternative </b></a></li>
          <li><a href="/genre/jazz"><b>Jazz </b></a></li>
          <li><a href="/genre/dance"><b>Dance </b></a></li>
      </ul>
    </li>
    <li class="nav2 drop"><a class="main" href="/charts"><b>Charts</b></a></li>
    <li class="nav5 drop"><a class="main" href="/disclaimer"><b>Disclaimer</b></a></li>
  </ul>
</div>

<% if logged_in? %>
  <div class="login">
    <strong>Ingelogd als: <%=h current_user.login %></strong>
    <div class="button2"> <%= link_to '<input name="hoi" type="submit" value="Log uit"/>', logout_path %></div>
  </div>

  <div class="searchmenu">
    <ul class="nav">
      <li class="nav4 drop"><a class="main down" href="<%= if user_is_medewerker? then medewerker_path current_user else klant_path current_user end %>"><b>User</b></a>
        <ul><li><a href="/winkelwagen"><b>Winkelwagen</b></a></li>
            <li><a href="<%= klant_aankoops_path current_user %>"><b>Aankopen</b></a></li>
            <li><a href=" "><b>Aanbevelingen</b></a></li>
            <li><%= link_to '<b>Log uit</b>', logout_path %></li>
        </ul>
      </li>
    </ul>
  </div>
<% else %>
  <div class="login">
    <form action="/session" method="post">
      <p><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>"/>
      &nbsp;user: <input id="login" name="login" type="text" class="input"/>
      wachtwoord: <input type="password" id="password" name="password" class="input" /></p>
      <div class="button2"><%= link_to '<input name="hoi" type="submit" value="Signup"/>', signup_path %></div>
      <div class="login" style="float:right;"><p>&nbsp;or </p></div>
      <div class="button"><input name="commit" type="submit" value="Log in"/></div>
    </form>
  </div>
<% end %>
